/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * by Stephan Raabe (2023)
 * -----------------------------------------------------
*/

/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
/* @import 'style-light.css'; */
@define-color backgroundlight #25252f;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color gray #ADAEB4;
@define-color darkblue #1b2632;
@define-color blue #248297;
@define-color dark #22232e;
@define-color darker #1A1B26;
@define-color bordercolor #248297;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #227D8F;
@define-color iconcolor #96969b;

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
  font-family:
    "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: rgba(30, 31, 41, 0.8);
  border-bottom: 0px solid #ffffff;
  /* color: #FFFFFF; */
  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules-left {
  padding-left: 10px;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
  margin: 3px 7px 3px 3px;
  border: 0px;
  font-size: 16px;
  font-weight: 900;
  color: @textcolor1;
}

#workspaces button {
  border: 0px;
  margin: 4px 5px 4px 0px;
  padding: 0px 4px 0px 4px;
  color: @gray;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}

#workspaces button.active {
  color: @blue;
  background: @darkblue;
  font-weight: 700;
}

#workspaces button:hover {
  color: @blue;
  background: @darkblue;
  border-radius: 15px;
  font-weight: 700;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  background-color: @dark;
  color: @gray;
  opacity: 0.9;
  font-size: 14px;
  font-weight: 400;
  padding: 40px;
}

tooltip label {
  color: @gray;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  margin: 0px 15px 0px 0px;
  border-radius: 12px;
  color: @blue;
  font-size: 14px;
  font-weight: 700;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-deepseek,
#custom-telegram,
#custom-firefox,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-wallpaper,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-tools,
#custom-quicklink_chromium,
#custom-quicklink_edge,
#custom-quicklink_firefox,
#custom-quicklink_browser,
#custom-quicklink_filemanager,
#custom-quicklink_email,
#custom-quicklink_thunderbird,
#custom-quicklink_calculator,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-pomodoro,
#custom-weather,
#custom-waybarthemes {
  margin-right: 16px;
  font-size: 15px;
  font-weight: bold;
  color: @gray;
}

#custom-weather {
  color: @blue;
  font-weight: 800;
}

#custom-tools {
  margin-right: 12px;
}

#custom-hyprshade {
  margin-right: 12px;
}

#custom-hypridle {
  margin-right: 16px;
}

#custom-hypridle.active {
  color: @gray;
}

#custom-hypridle.notactive {
  color: #dc2f2f;
}

#custom-settings {
  margin-right: 15px;
}

#custom-browser {
  margin-right: 12px;
}

#custom-wallpaper {
  margin-right: 14px;
}

#custom-deepseek,
#custom-telegram,
#custom-firefox {
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 6px;
}

#custom-deepseek {
  background-image: url("../assets/DS-16-G.png");
}

#custom-telegram {
  background-image: url("../assets/TG-16-G.png");
}

#custom-firefox {
  background-image: url("../assets/FF-16-G.png");
}

#custom-waybarthemes,
#custom-system {
  margin-right: 15px;
}

#custom-ml4w-welcome {
  margin-right: 12px;
  background-image: url("../assets/ml4w-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 20px;
}

#custom-ml4w-hyprland-settings {
  margin-right: 12px;
  background-image: url("../assets/hyprland-icon-20.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 16px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
  margin-right: 15px;
  font-size: 16px;
  font-weight: bold;
  color: @iconcolor;
}

#idle_inhibitor.activated {
  margin-right: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenuicon {
  font-size: 24px;
  color: @blue;
  margin: 0px 15px 0px 0px;
}

/* -----------------------------------------------------
 * Custom Notification
 * ----------------------------------------------------- */

#custom-notification {
  margin: 0px 13px 0px 0px;
  padding: 0px;
  font-size: 15px;
  color: @gray;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  font-size: 16px;
  color: @gray;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
  font-size: 14px;
  color: @gray;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
}

#custom-updates.green {
}

#custom-updates.yellow {
  color: #ff9a3c;
}

#custom-updates.red {
  color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
  background-color: @backgroundlight;
  font-size: 14px;
  color: @textcolor2;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu,
#language,
#custom-pomodoro {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: 700;
  color: @iconcolor;
}

#custom-pomodoro {
  font-size: 15px;
  margin-right: 15px;
  margin-left: 15px;
  color: @blue;
}

#language {
  margin-right: 10px;
  font-weight: 700;
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

#power-profiles-daemon {
  margin: 0px 13px 0px 0px;
  padding: 0px;
  font-size: 14px;
  color: @gray;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  font-size: 15px;
  font-weight: 800;
  color: @blue;
  margin: 0px 15px 0px 0px;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
  font-size: 14px;
  color: @textcolor;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
  background-color: transparent;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  font-size: 14px;
  font-weight: 600;
  color: @gray;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
}

#pulseaudio.muted {
  color: @gray;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  font-size: 14px;
  color: @gray;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
}

#network.ethernet {
  color: @gray;
}

#network.wifi {
  color: @textcolor;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  font-size: 14px;
  color: @textcolor;
  border-radius: 15px;
  margin: 10px 15px 10px 0px;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  font-size: 14px;
  color: @textcolor;
  border-radius: 15px;
  margin: 10px 15px 10px 0px;
}

#battery.charging,
#battery.plugged {
  color: @textcolor;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: @textcolor2;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  font-size: 20px;
  color: @gray;
  margin: 0px 10px 0px 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
